# Secrets
.env

# Python
__pycache__/
venv/
*.pyc

# Spark
checkpoints/
.DS_Store
**/.DS_Store

postgres_data/
questdb_data/
airflow_db_data/

# dbt Artifacts
analytics/target/
analytics/dbt_packages/
analytics/logs/

logs/
*.log